@import '../../../scss/variables';
@import '../../../scss/mixins';
@import '../../../scss/fonts';
.select-container {
  background: $select-bg;
  &__header {
    @extend %roboto-bold;
    background: $select-header;
    padding: 20px 25px;
  }
}
