<div class="chat-container">
  <button type="button" class="chat-container__btn position-absolute" (click)="toggleChatBar()">
    <span class="chat-container__btn__icon"></span>
  </button>
  <div class="chat-toggle" [ngClass]="{'open': toggleChat}">
    <ul class="chat">
      <li class="chat__item">
        <h3 class="chat__item__title">Chat</h3>
      </li>

      <li class="chat__item">
        <figure class="image-container">
          <img src="" alt="" class="image-container__image">
        </figure>
        <div class="info">
          <h2 class="info__name">KIRILL TRIPLE KILL</h2>
          <time class="info__date">21.04.16 23:59:14
          </time>
          <p class="info__desc">Lorem Ipsum is simply dummy
            text of the printing and typesetting
            industry.</p>
        </div>
      </li>
      <li class="chat__item">
        <figure class="image-container">
          <img src="" alt="" class="image-container__image">
        </figure>
        <div class="info">
          <h2 class="info__name">KIRILL TRIPLE KILL</h2>
          <time class="info__date">21.04.16 23:59:14
          </time>
          <p class="info__desc">Lorem Ipsum is simply dummy
            text of the printing and typesetting
            industry.</p>
        </div>
      </li>
    </ul>
    <form action="" class="message">
      <textarea class="message__text" name="" placeholder="Enter message..."></textarea>
      <div class="buttons">
        <div class="btn-container">
          <button class="message__btn">
            <img src="../../../assets/images/icons/smile.png" alt="">
          </button>
          <button class="message__btn">
            <img src="../../../assets/images/icons/icon.png" alt="">
          </button>
        </div>
        <div>
          <button class="message__btn">Send</button>
        </div>
      </div>

    </form>
  </div>
</div>

