<header class="sub-header">
  <ul class="profile-header">
    <li class="profile-header__item">
      <span class="profile-header__item__number">916.96$  </span>
      <span class="profile-header__item__name"> TOTAL TODAY</span>
    </li>
    <li class="profile-header__item">
      <span class="profile-header__item__number">73 </span>
      <span class="profile-header__item__name">GAMES TODAY   </span>
    </li>
    <li class="profile-header__item">
      <span class="profile-header__item__number">2282.76$ </span>
      <span class="profile-header__item__name"> BIGGEST POT </span>
    </li>
    <li class="profile-header__item">
      <span class="profile-header__item__number"> 21</span>
      <span class="profile-header__item__name">  ONLINE</span>
    </li>
  </ul>
</header>
