<app-sub-header></app-sub-header>
<div class="table-container">
  <table class="top-table">
    <thead>
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Games</th>
      <th>Wons</th>
      <th>Win rate</th>
      <th>Banks</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>
        <app-user-profile></app-user-profile>
      </td>
      <td>100</td>
      <td>99</td>
      <td>99%</td>
      <td>$213.85</td>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <app-user-profile></app-user-profile>
      </td>
      <td>100</td>
      <td>99</td>
      <td>99%</td>
      <td>$213.85</td>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <app-user-profile></app-user-profile>
      </td>
      <td>100</td>
      <td>99</td>
      <td>99%</td>
      <td>$213.85</td>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <app-user-profile></app-user-profile>
      </td>
      <td>100</td>
      <td>99</td>
      <td>99%</td>
      <td>$213.85</td>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <app-user-profile></app-user-profile>
      </td>
      <td>100</td>
      <td>99</td>
      <td>99%</td>
      <td>$213.85</td>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <app-user-profile></app-user-profile>
      </td>
      <td>100</td>
      <td>99</td>
      <td>99%</td>
      <td>$213.85</td>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <app-user-profile></app-user-profile>
      </td>
      <td>100</td>
      <td>99</td>
      <td>99%</td>
      <td>$213.85</td>
    </tr>
    </tbody>
  </table>

</div>
