@import '../../../../scss/variables';
@import '../../../../scss/mixins';
@import '../../../../scss/fonts';

.top-table {
  width: 100%;
  text-align: center;
  tr {
    th {
      @include text-transform(uppercase);
      padding: 20px;
    }
    th, td:nth-child(2),
    td:first-child{
      @extend %roboto-bold
    }
    td{
      padding: 10px 20px;
    }
    td, th {
      border-bottom: 1px solid $white-border;
      ::ng-deep{
        .user__name{
          color: $white;
        }
      }
    }
  }
}
