@import '../../../scss/variables';
@import '../../../scss/mixins';
@import '../../../scss/fonts';

.inputs-group {
  @include display(grid);
  @include grid-template-columns(50% 50%);
  grid-gap: 10px;

}

.input-container {
  @include display(grid);
  @include grid-template-columns(auto 1fr);
  @include align-items(center);
  grid-gap: 10px;
  &__item {
    width: 100%;
    background: $select-header;
    border: none;
    padding: 10px;
  }
}
