<app-sub-header></app-sub-header>

<app-withdraw-filter></app-withdraw-filter>

<app-sorting></app-sorting>
<ul class="items-container">
  <li>
    <app-withdraw-itme></app-withdraw-itme>
  </li>
  <li>
    <app-withdraw-itme></app-withdraw-itme>
  </li>
  <li>
    <app-withdraw-itme></app-withdraw-itme>
  </li>
  <li>
    <app-withdraw-itme></app-withdraw-itme>
  </li>
  <li>
    <app-withdraw-itme></app-withdraw-itme>
  </li>  <li>
    <app-withdraw-itme></app-withdraw-itme>
  </li>  <li>
    <app-withdraw-itme></app-withdraw-itme>
  </li>  <li>
    <app-withdraw-itme></app-withdraw-itme>
  </li>  <li>
    <app-withdraw-itme></app-withdraw-itme>
  </li>
  <li>
    <app-withdraw-itme></app-withdraw-itme>
  </li>
</ul>
