<app-sub-header></app-sub-header>

<div class="withdraw-container">
  <app-withdraw-filter></app-withdraw-filter>
  <div>
    <app-sorting></app-sorting>
    <ul class="items-container">
      <li>
        <app-withdraw-itme></app-withdraw-itme>
      </li>
      <li>
        <app-withdraw-itme></app-withdraw-itme>
      </li>
      <li>
        <app-withdraw-itme></app-withdraw-itme>
      </li>
      <li>
        <app-withdraw-itme></app-withdraw-itme>
      </li>
      <li>
        <app-withdraw-itme></app-withdraw-itme>
      </li>
      <li>
        <app-withdraw-itme></app-withdraw-itme>
      </li>
      <li>
        <app-withdraw-itme></app-withdraw-itme>
      </li>
      <li>
        <app-withdraw-itme></app-withdraw-itme>
      </li>
      <li>
        <app-withdraw-itme></app-withdraw-itme>
      </li>
      <li>
        <app-withdraw-itme></app-withdraw-itme>
      </li>
    </ul>

  </div>
</div>
