<div class="brand">
  <a href="" class="brand__link">
    <img class="brand__link__image" src="../../../assets/images/logo/win-the-skin-logo.png" alt="">
  </a>
</div>
<ul class="navigation">
  <li class="navigation__item">
    <h3 class="navigation__item__title">Navigation</h3>
  </li>

  <li class="navigation__item">
    <a href="" class="navigation__item__link play">
      Play</a>
  </li>
  <li class="navigation__item">
    <a href="" class="navigation__item__link history">
      Games History</a>
  </li>
  <li class="navigation__item">
    <a href="" class="navigation__item__link shop active">
      Shop</a>
  </li>
  <li class="navigation__item">
    <a href="" class="navigation__item__link support">
      Support page</a>
  </li>
  <li class="navigation__item">
    <a href="" class="navigation__item__link about">
      About site</a>
  </li>
</ul>
<div class="balance">
  <h3 class="balance__title">Balance: <span class="balance__title__price">123$</span></h3>
  <div class="balance__buttons">
    <button type="button" class="balance__buttons__item">
      <img src="../../../assets/images/icons/deposit.png" alt="">
    </button>
    <button type="button" class="balance__buttons__item">
      <img src="../../../assets/images/icons/withdraw.png" alt="">
    </button>
  </div>
</div>

<app-afford-block></app-afford-block>
