@import '../../../scss/variables';
@import '../../../scss/mixins';
@import '../../../scss/fonts';

.brand {
  @include display(grid);
  @include justify-content(center);
  padding: 15.5px 0;
  background: $logo-bg;
  &__link {
    @include size(135px, auto);
    &__image {
      @include size(inherit, auto)
    }
  }
}

.navigation {
  &__item {
    padding: 0 20px;
    &:first-of-type {
      background: $white-opacity;
    }
    &:not(:last-child) {
      .navigation__item__link {
        border-bottom: 1px solid $white-border;
      }
    }
    &__title, &__link {
      @extend %roboto-bold;
      padding: 15px;
      @include text-transform(uppercase);
      font-size: 1rem;
    }
    &__link {
      @include display(grid);
      @include grid-template-columns(40px auto);
      @include align-items(center);
      color: $sidebar-text;
      &:hover, &.active {
        color: $yellow;
        background: $aside-item-hover;
      }
      &::before {
        @include size(20px);
        @include display(grid);
        content: '';
        background-size: 20px auto;
      }
      &.play {
        &::before {
          background: url('../../../assets/images/icons/play.png') no-repeat;
        }
        &:hover, &.active {
          &::before {
            background: url('../../../assets/images/icons/play-hover.png') no-repeat;
          }
        }
      }
      &.history {
        &::before {
          background: url('../../../assets/images/icons/history.png') no-repeat;
        }
        &:hover, &.active {
          &::before {
            background: url('../../../assets/images/icons/history-hover.png') no-repeat;
          }
        }
      }
      &.shop {
        &::before {
          background: url('../../../assets/images/icons/shop.png') no-repeat;
        }
        &:hover, &.active {
          &::before {
            background: url('../../../assets/images/icons/shop-hover.png') no-repeat;
          }
        }
      }
      &.support {
        &::before {
          background: url('../../../assets/images/icons/play.png') no-repeat;
        }
        &:hover, &.active {
          &::before {
            background: url('../../../assets/images/icons/play-hover.png') no-repeat;
          }
        }
      }
      &.about {
        &::before {
          background: url('../../../assets/images/icons/about.png') no-repeat;
        }
        &:hover, &.active {
          &::before {
            background: url('../../../assets/images/icons/about-hover.png') no-repeat;
          }
        }
      }
    }
  }
}

//balance
.balance {
  @include display(grid);
  @include grid-template-columns(auto auto);
  @include align-items(center);
  @include justify-content(space-between);
  background: $balance-bg;
  padding: 10px 20px;
  &__title {
    @include text-transform(uppercase);
    @extend %roboto-light;
    font-weight: lighter;
    font-size: 1rem;
    margin: 0;
    &__price {
      @extend %roboto-bold;
    }
  }
  &__buttons {
    &__item {
      @include button-style(transparent, transparent);
      vertical-align: middle;
      border: none;
      cursor: pointer;
      margin-left: 10px;
      line-height: 1;
    }
  }
}
