<header class="sub-header">
  <ul class="profile-header">
    <li class="profile-header__item">
      <span class="profile-header__item__number">916.96$  </span>
      <span class="profile-header__item__name"> TOTAL TODAY</span>
    </li>
    <li class="profile-header__item">
      <span class="profile-header__item__number">73 </span>
      <span class="profile-header__item__name">GAMES TODAY   </span>
    </li>
    <li class="profile-header__item">
      <span class="profile-header__item__number">2282.76$ </span>
      <span class="profile-header__item__name"> BIGGEST POT </span>
    </li>
    <li class="profile-header__item">
      <span class="profile-header__item__number"> 21</span>
      <span class="profile-header__item__name">  ONLINE</span>
    </li>
  </ul>
</header>

<div class="profile">
  <a href="" class="profile__figure">
    <img class="profile__figure__image" src="" alt="">
  </a>
  <a href="" class="profile__name">Balbesskin</a>
</div>

<!--tabs-->
<section class="tub-container">
  <mat-tab-group>
    <mat-tab label="History" class="tub-container__itme">
      <section class="tub-container__itme__content">
        <ul class="nav">
          <li class="nav-list">
            <a href="" class="nav-list__link active"><span>Deposit</span></a>
          </li>
          <li class="nav-list">
            <a class="nav-list__link" href=""><span>Withraw</span></a>
          </li>
          <li class="nav-list">
            <a class="nav-list__link" href=""><span>Roulette</span></a>
          </li>
          <li class="nav-list">
            <a class="nav-list__link" href=""><span>Coinflip</span></a>
          </li>
        </ul>
        <div>
          <header class="table">
            <h4 class="table__title">Date</h4>
            <h4 class="table__title">ID</h4>
            <h4 class="table__title">SUM</h4>
            <h4 class="table__title">Status</h4>
          </header>
          <section class="table__body success">
            <p class="table__body__item">23:40 06-03-2014</p>
            <p class="table__body__item">25a0edf3-9fc4-405b-963a-e40263c7405d</p>
            <p class="table__body__item">41241.98$</p>
            <p class="table__body__item">Success</p>
            <section class="table__body__slider">
              <div  class="table__body__slider__items">
                <div>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                </div>
              </div>
            </section>
          </section>
          <section class="table__body error">
            <p class="table__body__item">23:40 06-03-2014</p>
            <p class="table__body__item">25a0edf3-9fc4-405b-963a-e40263c7405d</p>
            <p class="table__body__item">41241.98$</p>
            <p class="table__body__item">Success</p>
            <section class="table__body__slider">
              <div  class="table__body__slider__items">
                <div>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                </div>
              </div>
            </section>
          </section>
          <section class="table__body pending">
            <p class="table__body__item">23:40 06-03-2014</p>
            <p class="table__body__item">25a0edf3-9fc4-405b-963a-e40263c7405d</p>
            <p class="table__body__item">41241.98$</p>
            <p class="table__body__item">Success</p>
            <section class="table__body__slider">
              <div  class="table__body__slider__items">
                <div>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                  <figure class="data-intem">
                    <img class="data-intem__image" src="./assets/images/pic.png" alt="">
                    <figcaption class="data-intem__price">0.37$</figcaption>
                  </figure>
                </div>
              </div>
            </section>
          </section>
        </div>
      </section>

    </mat-tab>
    <mat-tab label="Settings " class="tub-container__itme"> Content 2</mat-tab>
    <mat-tab label="Statistics" class="tub-container__itme"> Content 3</mat-tab>
  </mat-tab-group>
</section>

