<div class="container">
  <div class="sorting-container">
    <p  class="sorting-container__title">Сортировка по:</p>
    <label class="sorting-by">
      <input type="radio" class="sorting-by__input" name="sort">
      <span class="sorting-by__text">цене</span>
    </label>
    <label class="sorting-by">
      <input type="radio" class="sorting-by__input" name="sort" checked>
      <span class="sorting-by__text sort">выгоде
    </span>
    </label>
    <label class="sorting-by">
      <input type="radio" class="sorting-by__input" name="sort">
      <span class="sorting-by__text">названию</span>
    </label>
  </div>

  <button class="withdraw-btn btn-block w-100" type="button">Withdraw</button>
</div>
