$white: #fff;
$yellow: #fff442;
$success: #51d74a;
$error: #ff4143;
$worning: #e7b152;
$blue: #275978;
$red: #fa4c4e;
$header-text: #d5ebf7;
$logo-bg: #366c85;
$sidebar-bg: #343742;
$sidebar-text: #b9becf;

$menu-item-hover: rgba(0, 0, 0, .03);
$nav-bg: rgba(0, 0, 0, .1);
$dropdown-bg: rgba(32, 31, 41, .9);
$white-border: rgba(255, 255, 255, .04);
$white-opacity: rgba(255, 255, 255, .02);
$border-sub-header: rgba(255, 255, 255, .2);
$aside-item-hover: rgba(37, 39, 46, .2);
$balance-bg: rgba(63, 117, 142, .15);
$gray: #2b2e3b;
$afford-border: #307ba9;
$chat-bg: rgba(255, 255, 255, .05);

$chat-toggle: rgba(255,255,255,.5);
$input-bg: rgba(47,50,61,.25);
$btn: #2c5873;
//header gradient
$header-gradient: linear-gradient(to right, #3d748e 80%, #245473);

//font sizes
$core-fz: 13px;
$small-fz: 11px;
